.container{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  
  margin: 0;
  gap: 15px;
}

.nota{
  display: relative;
  width: 70vw;
  max-width: 400px;
  padding: 7px;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.programmed{
  border: 3px outset red;
}

.check{
  border-color: green;
}

.icon:hover {
  color: #3F3BE1;
  transition: 0.3s;
}

.help-icon{
  display: absolute;
  width: 50px;
  height: 50px;
  border: 4px outset #3F3BE1;
  border-radius: 50%;
  color: #3F3BE1;
  background: white;
}

.creadora{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.items-create{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 70vw;
  max-width: 400px;
  border-radius: 10px;
  background-color: white;
  color: black;
}

@media( width < 500px ){
  .items-create{
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}

.add-icon{
  display: absolute;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.add-icon:hover {
  color: #3F3BE1;
  transform: rotate(90deg);
  transition: 0.3s;
}

.icons{
  display: flex;
  flex-flow: column nowrap;
}

.items{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}

.descripcion{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin: 0;
  padding-top: 15px;
}

.descripcion input{
  width: 100%;
  margin: 0;
  padding-top: 0;
}

form{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  max-width: 400px;
}

.list-items .items {
  background: #44446b;
  border-radius: 10px;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(186, 186, 186);
}

.nota article{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  width: 100%;
}

.actOff{
  cursor: pointer;
}

.actOn{
  cursor: pointer;
  text-decoration: line-through;
}

/* to do list style */
.toDoList {
  margin-top: 2rem;
}
.toDoList span {
  color: rgb(161, 160, 160);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.toDoList .list-items {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

input[type='checkbox'] {
  padding: 5px;
  cursor: pointer;
}
.items-text {
  display: flex;
  align-items: center;
  gap: 15px;
}
.items-text div {
  color: red;
  overflow: hidden;
}
.notify {
  text-align: center;
  color: rgb(161, 160, 160);
}

.isChecked {
  text-decoration: line-through;
  color: #3F3BE1;
  opacity: 0.5;
}

.stats {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: #282851;
}

.deleteAll{
  color: white;
}

/* Empieza el modal */

.modal-trigger {
  position: fixed;
  bottom: 5%;
  right: 5%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #d0cff3;
  border: 5px solid #282851;
  background-color: #282851;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 50%;
  transition: all .3s .3s;
  box-shadow: 0 35px 35px rgba(0, 0, 0, .3);
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  color: #b4b3f0;
  text-decoration: none;
}

.modal-header,
.modal-footer {
  padding: 8px;
  background-color: #282851;
}

.modal-body {
  padding: 64px;
  color: white;
  text-align: left;
  background-color: #3F3BE1;
}

.modal-container:target {
  opacity: 1;
  visibility: visible;
}

.modal-container:target .modal {
  transform: translate(-50%, -50%);
}

/* Termina el modal css */
